
<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I’m a 21-year-old frontend developer with a passion for technology and
      teamwork. I’m currently pursuing a degree in Computer Engineering after
      completing a Higher Degree in Web Application Development.
    </p>

    <p>
      I love working with technologies like React and Next.js, which I had the
      opportunity to explore during my internship, where I discovered my passion
      for web development.
    </p>

    <p>
      I consider myself a sociable person, eager to learn and continue growing
      professionally.
    </p>
  </div>
</article>
