---
const personalImageAlt = "Manu Rodríguez";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import ReactIcon from "@/components/icons/React.astro";
import NextJS from "./icons/NextJS.astro";
import Angular from "./icons/Angular.astro";
import Typescript from "./icons/Typescript.astro";
---

<div class="max-w-xl flex flex-col md:flex-row md:justify-between">
  <div class="flex flex-col gap-4 mb-4">
  <h1
    class="text-4xl font-bold tracking-tight text-white"
  >
    Hi, I'm Manu! 👋
  </h1>
  <p
  class="mt-6 text-lg leading-relaxed text-gray-400"
>
  I'm a <strong class="text-pink-500">Junior Software Developer</strong> specializing in web development from Spain 🇪🇸 <br>
  Currently studying <strong class="text-purple-500">Software Engineering</strong>.
</p>

  <div class="flex flex-direction-row gap-4 mt-2">
  <div class="size-14 sm:size-20 md:size-24 p-3 text-jpwhite rounded-xl motion-safe:hover:animate-rotate-y bg-gradient-to-r from-[#1F2937] to-[#111827] flex items-center justify-center">
    <ReactIcon class="w-full h-full" />
  </div>
  <div class="size-14 sm:size-20 md:size-24 p-3 text-jpwhite rounded-xl motion-safe:hover:animate-rotate-y bg-gradient-to-r from-[#1F2937] to-[#111827] flex items-center justify-center">
    <NextJS class="w-full h-full" />
  </div>
  <div class="size-14 sm:size-20 md:size-24 p-3 text-jpwhite rounded-xl motion-safe:hover:animate-rotate-y bg-gradient-to-r from-[#1F2937] to-[#111827] flex items-center justify-center">
    <Angular class="w-full h-full" />
  </div>
  <div class="size-14 sm:size-20 md:size-24 p-3 text-jpwhite rounded-xl motion-safe:hover:animate-rotate-y bg-gradient-to-r from-[#1F2937] to-[#111827] flex items-center justify-center">
    <Typescript class="w-full h-full" />
  </div>
  </div>
</div>
<div class="flex-shrink-0 mt-4 md:mt-0 md:ml-8 rounded-md justify-center text-center">
  <img
    class="shadow-lg w-48 h-48 md:w-72 md:h-72 object-cover object-bottom rounded-full border-4 border-gray-700"
    src="/fotoperfil.jpg"
    alt="Foto de perfil de Manu"
  />
  <div class="flex justify-self-auto md:justify-center mt-4 space-x-4">
    <!-- LinkedIn Icon -->
     <SocialPill href="https://www.linkedin.com/in/manu-rodr%C3%ADguez-563037277/">
      <LinkedInIcon class="h-8 w-8" />
    </SocialPill>
    <!-- Mail Icon -->
    <SocialPill href="mailto:manurgz10@gmail.com">
      <MailIcon class="h-8 w-8" />
    </SocialPill>
  </div>
</div>


</div>